@import './secondary.css';
* {
  box-sizing: border-box;
}
/* #Layout */
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background-color: var(--whiteish);
}
.container {
  max-width: 80%;
  margin: 0 auto;
}
/* #Button */
.collapse {
  transform: scaleY(0);
}
/* #Shapes */
.shape {
  min-height: 5rem; /* Using min-height ensures any 'stretch' properties will actually stretch the element */

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;

  font-size: 2em;
  color: var(--whiteish);
  border-top: var(--weird-border);
  border-left: var(--weird-border);
}
.square {
  width: 5rem;
}
/*Flex styles*/
.flexbox, .box {
  display: flex;
}

.box-inline {
  display: inline-flex;
}
.row {
  flex-direction: row;
}
.row-reverse {
  flex-direction: row-reverse;
}
.column {
  flex-direction: column;
}
.column-reverse {
  flex-direction: column-reverse;
}
.wrap {
  flex-wrap: wrap;
}
.wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-flow-row-reverse-wrap-reverse {
  flex-flow: row-reverse wrap-reverse;
}
.justify-flex-start {
  justify-content: flex-start;
}
.justify-flex-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.align-items-flex-start {
  align-items: flex-start;
}
.align-items-flex-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-baseline {
  align-items: baseline;
}
.align-content-flex-start {
  align-content: flex-start
}
.align-content-flex-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.align-content-stretch {
  align-content: stretch;
}
.align-content-space-between {
  align-content: space-between;
}
.align-content-space-around {
  align-content: space-around;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.flex-grow {
  flex-grow: 1;
}
.flex-shrink {
  flex-shrink: 1 !important;
}
.flex-basis-50 {
  flex-basis: 50%;
}
.flex-me-50 {
  flex: 1 1 50%;
}
.align-self-flex-end {
  align-self: flex-end;
}