/* 
  This is the magic behind the curtain. 
  You're welcome to browse it and try it, but know we haven't covered
  a lot of these topics in class!
*/
* { box-sizing: border-box; }
body { margin: 0; }
html, body { height: 100%; }
:root { /* Set up CSS Variables */
  --whiteish: #E6EBE0;
  --teal: #51A3A3;
  --reddish: #ED6A5A;
  --darker-reddish: #D1301B;
  --light-blue: #9BC1BC;
  --blueish-purple: #5D576B;
  --purple: #75485E;
  --tan: #c6ad94;
  --dark-tan: #7f6f5f;
  --weird-border: 10px solid black;
}
.bg-teal { background-color: var(--teal); }
.bg-reddish { background-color: var(--reddish); }
.bg-light-blue { background-color: var(--light-blue); }
.bg-blueish-purple { background-color: var(--blueish-purple); }
.bg-purple { background-color: var(--purple); }
.box {
  padding: 5em 3em;
  margin-bottom: 5px;

  border: 5px dashed var(--dark-tan);

  /*
    This fancy CSS allows us to color the padding and content seperately
    Found here: https://stackoverflow.com/questions/14628601/can-i-add-background-color-only-for-padding
    In the answer by Muhammad Umer
  */
  background-color: var(--tan);
  background-image:
    linear-gradient(to bottom,
      rgba(127, 111, 95) 0%,
      rgba(127, 111, 95) 100%),
    linear-gradient(to bottom,
      rgba(198, 173, 148) 0%,
      rgba(198, 173, 148) 100%);
  background-clip: content-box, padding-box;
}

.box.column.long {
  height: 40rem;
}
.box.row.long {
  height: 20rem;
}
.empty-space {
  width: 100%;
  height: 100px;
}
/* Stretch some containers to showcase the concepts */
.long-rectangle:first-child {
  height: 200px;
}
.long-rectangle:last-child {
  height: 500px;
}
.align-content-space-between.row, .align-content-space-around.row {
  height: 700px;
}
.short {
  height: 450px;
}
.stout {
  width: 55%;
}
.short > .shape, .stout > .shape {
  flex-shrink: 0;
}
.short > .shape.flex-shrink {
  min-height: 0;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  right: -350px;
  background: white;
  height: 60px;
  padding: 1rem 3rem;
  border-top: var(--weird-border);
  border-left: var(--weird-border);
  transition: right ease .5s;
}
.bottom-nav:hover {
  right: 0;
}
.bottom-nav > .nav-item {
  padding: 0 1em;
  cursor: pointer;
  color: var(--teal);
}
#welcomeMessage {
  position: fixed;
  top: 50%;
  z-index: 100;
  padding: 1em 3em;
  margin: 0 3em;
  
  background: white;
  transform: translateY(-50%);
}
.close-welcome-message {
  float: right;
  cursor: pointer;
  color: var(--reddish);
  font-size: 3em;
}
.close-welcome-message:hover {
  color: var(--darker-reddish);
}
.backdrop {
  background-color: rgba(0,0,0,.8);
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.backdrop > .container {
  opacity: .3;
}
.backdrop > button {
  pointer-events: none;
}